 * {
    box-sizing: border-box;
}
body {
	border-style:dashed;
	border-color:pink;
	padding:1em;
	max-width: 60em;
	 margin: 0 auto;
	 font-family: sans-serif;
}

footer p {
  text-align: center;
}
.row {
	display:flex;
	flex-flow:row-reverse;

}
.row div{
	width:30%;
}
.col {
	display: flex;
	flex-flow: column-reverse;

}
.gulur {
	background-color: yellow; 
}
.raudur {
	background-color: red; 
}
.graenn {
	background-color: lime;
}
.blar {
	background-color: cyan; 
}
.box {
	font-size: 1.2em;
	height: 5em;
	text-align:center;

}

